@font-face{
  font-family: "exo";
  src: url('Exo2-VariableFont_wght.ttf');
}

body{
  background-color: #ded0a2;
}
hr{
  background-color: #000000;
}
h1{
  color: #000000;
  font-family: "exo";
}
h2{
  color: #000000;
  font-family: "exo";
}
h3{
  color: #000000;
  font-family: "exo";
}
h4{
  color: #000000;
  font-family: "exo";
}
h5{
  color: #000000;
  font-family: "exo";
}
p{
  color: #000000;
  font-family: "exo";
}
